
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.eot');
    src: 
         url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Georgia.woff2') format('woff2'),
         url('../fonts/Georgia.woff') format('woff'),
         url('../fonts/Georgia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia-bold.eot');
    src: 
         url('../fonts/Georgia-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Georgia-bold.woff2') format('woff2'),
         url('../fonts/Georgia-bold.woff') format('woff'),
         url('../fonts/Georgia-bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
