/* start achievement styles */ 

#achievement {
    overflow: visible;
    .page_width {
        padding-bottom: 0px;
        padding-top: 16px;
        text-align: left;
    }


    .left_image.video, .right_image.video {
        margin: 0 0 -36px 0;
        width: 28.3%;

        .video_play {
            top: 18.4%;
            left: 89.5%;
        }
    }

    .text {
        margin-left: 42.5%;
        padding-top: 33px;
        line-height: 24px;
        padding-bottom: 3px;
    }

    .certificates_slider {
        margin-left: calc(42.5% - 52px);
        margin-right: 77px;
    }
}
.certificates_slider {
    position: relative;

    &.slick-slider {
        padding: 0 52px;
    }
    .slick-list {
        margin: 0 -15px;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 100%;
            top: 0;
            z-index: 1;
        }
        &::before {
            left: -1px;
            background: linear-gradient(to right, #fff, transparent);
        }
        &::after {
            right: -1px;
            background: linear-gradient(to left, #fff, transparent);
        }
    }
    .slick-arrow {
        border: 2px solid transparent;
        margin-top: -27px;
		
		&:before {
			border-top: 4px solid $color_a;
			border-left: 4px solid $color_a;
		}
		
		&:hover {
			background-color: transparent;
			&:before {
				opacity: 0.8;
			}
		}
	}

    .item {
        width: calc(33.3% - 30px);
        height: 100px;
        margin: 15px 15px 30px 15px;
        //border: 1px solid #DFEDEE;
        box-sizing: border-box;
        background: #FFFFFF url(images/bg_certificate.svg) no-repeat center;
        box-shadow: 5px 5px 30px rgba(18, 67, 58, 0.1);
        border-radius: 10px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(282.17deg, #286670 0%, #357C86 25.58%, #07E1BF 85.47%, #51FFC0 100%);
            box-shadow: 5px 5px 25px rgba(18, 67, 58, 0.25);
            border-radius: 10px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            opacity: 0;
            @include transition(all);
        }

        &:hover {
            box-shadow: 5px 5px 30px rgba(18, 67, 58, 0.17);

            &::before {
                opacity: 1;
            }
            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }

        a {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            font-weight: 800;
            color: #002125;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //opacity: 0;
            }
        }
    }
}





// @media screen and (min-width: 1301px) {
    
// }
// @media screen and (max-width: 1600px) {
    
// }
@media screen and (max-width: 1300px) {
    #achievement {
        .text {
            padding-top: 0px;
        }
        .certificates_slider {
            margin-right: 0;
        }
    }
}

// @media screen and (max-width: 1200px) {
    
// }

@media screen and (max-width: 1030px) {
    #achievement {
        .text {
            padding-top: 0px;
        }
        .certificates_slider {
            margin-left: 0;
            clear: left;
        }
    }
}

// @media screen and (max-width: 900px) {
    
// }

@media screen and (max-width: 800px) {
    .certificates_slider {
        .item {
            margin: 15px 10px 30px 10px;
        }
    }
}
// @media screen and (max-width: 700px) {
    
    
// }


@media screen and (max-width: 600px) {
    #achievement {
        .left_image.video, .right_image.video {
            margin: 0 auto -70px auto;
            left: -30px;
            width: 80%;
            max-width: 300px;
            float: none;
            img {
                margin-bottom: -30%;
            }
        }

        .text {
            margin-left: 0;
        }
    }
}
// @media screen and (max-width: 520px) {
    
// }
// @media screen and (max-width: 450px) {
    
// }

/* end achievement styles */