/* start animate styles */

@-webkit-keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
  }
  
  @keyframes fadeInUp {
    from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
  }
  
  @-webkit-keyframes fadeInDown {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
  }
  
  @keyframes fadeInDown {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
  }
  
  @-webkit-keyframes fadeInLeft {
    from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
  }
  
  @keyframes fadeInLeft {
    from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
  }
  
  @-webkit-keyframes fadeInRight {
    from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
  }
  
  @keyframes fadeInRight {
    from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
  }
  
  @-webkit-keyframes zoomIn {
    from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
    50% { opacity: 1; }
    to{ opacity: 1; }
  }
  
  @keyframes zoomIn {
    from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
    50% { opacity: 1; }
    to{ opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  
.main_section.animated * {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#index #logo .logo_sec1, #index #logo .logo_sec2 { opacity: 0; position: relative; }
#index #logo .logo_sec1 { 
    top: -200px; @include transition_slow(all); transition-delay: 0.3s;
}
#index #header.animated #logo .logo_sec1 { opacity: 1; top: 0px; }
#index #logo .logo_sec2 { 
    top: 1000px; @include transition_slow(all); transition-delay: 0.3s;
}
#index #header.animated #logo .logo_sec2 { opacity: 1; top: 0px; }
#index #logo { left: 50%; margin-left: -75px; @include transition_slow(all); transition-delay: 1.2s;}
#index .animated #logo { left: 0%; margin-left: 0px;}
#index #logo { z-index: 3; left: 50%; margin-left: -75px; @include transition_slow(all); transition-delay: 1.2s;}
#index .animated #logo { left: 0%; margin-left: 0px;}

#index .header_top, #index .header_bottom { opacity: 0; @include transition(all); }
#index #header.animated .header_top { opacity: 1; transition-delay: 2.3s; }
#index #header.animated .header_bottom { opacity: 1; transition-delay: 2.6s; }

// #header .page_width::before {
//     content: '';
//     position: absolute;
//     width: 200%;
//     left: -100%;
//     top: 0;
//     height: 100%;
//     background: linear-gradient(135deg, transparent 0%, #fff 50%, #fff 100%);
//     @include transition_slow(all);
//     transition-delay: 1.7s;
//     z-index: 3;
// }
// #header.animated .page_width::before { width: 0%; left: 100%; }


#main_screen.main_section .bg_ekos { opacity: 0; @include transition(all); transition-delay: 1.7s; }
#main_screen.main_section.animated .bg_ekos { opacity: 0.05; }
#main_screen.main_section h2 { opacity: 0; }
#main_screen.main_section.animated h2 { -webkit-animation-delay: 2.9s;  animation-delay: 2.9s; -webkit-animation-name: fadeIn; animation-name: fadeIn; }
#main_screen.main_section .main_screen_text p { opacity: 0; }
#main_screen.main_section.animated .main_screen_text p { -webkit-animation-delay: 3.2s;  animation-delay: 3.2s; -webkit-animation-name: fadeIn; animation-name: fadeIn; }
#main_screen.main_section .button { opacity: 0; }
#main_screen.main_section.animated .button { -webkit-animation-delay: 3.5s;  animation-delay: 3.5s; -webkit-animation-name: fadeIn; animation-name: fadeIn; }

#main_screen.main_section {
    .flask, .petri_dish, .stand, .pea, .microscope, .monitor { opacity: 0; -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
    //.video { opacity: 0; @include transition(all); transition-delay: 6.2s; }
} 
#main_screen.main_section.animated .flask { -webkit-animation-delay: 3.8s;  animation-delay: 3.8s; }
#main_screen.main_section.animated .petri_dish { -webkit-animation-delay: 4.0s;  animation-delay: 4.0s; }
#main_screen.main_section.animated .stand { -webkit-animation-delay: 4.2s;  animation-delay: 4.2s; }
#main_screen.main_section.animated .pea { -webkit-animation-delay: 4.4s;  animation-delay: 4.4s; }
#main_screen.main_section.animated .microscope { -webkit-animation-delay: 4.6s;  animation-delay: 4.6s; }


#main_screen.main_section.animated .monitor { -webkit-animation-delay: 5.9s;  animation-delay: 5.9s; }
//#main_screen.main_section.animated .video { opacity: 1; }

#main_screen.main_section .features { opacity: 0; @include transition_slow(all); transition-delay: 4.9s; }
#main_screen.main_section.animated .features { opacity: 1; }
#main_screen.main_section::before { opacity: 0; @include transition_slow(all); transition-delay: 5.2s; }
#main_screen.main_section.animated::before { opacity: 1; }

#about.main_section h2  { opacity: 0; }
#about.main_section.animated h2  {-webkit-animation-delay: 0.5s; animation-delay: 0.5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
#about.main_section .video  { opacity: 0; }
#about.main_section.animated .video  {-webkit-animation-delay: 0.8s; animation-delay: 0.8s; -webkit-animation-name: zoomIn; animation-name: zoomIn; }
#about.main_section .text  { opacity: 0; }
#about.main_section.animated .text  {-webkit-animation-delay: 1.1s; animation-delay: 1.1s; -webkit-animation-name: fadeIn; animation-name: fadeIn;  }
#about.main_section .advantages .item { opacity: 0; }
#about.main_section.animated .advantages .item { -webkit-animation-name: fadeInUp; animation-name: fadeInUp;
    &:nth-child(1) {
        -webkit-animation-delay: 1.4s; animation-delay: 1.4s; 
    }
    &:nth-child(2) {
        -webkit-animation-delay: 1.6s; animation-delay: 1.6s; 
    }
    &:nth-child(3) {
        -webkit-animation-delay: 1.8s; animation-delay: 1.8s; 
    }
    &:nth-child(4) {
        -webkit-animation-delay: 2.0s; animation-delay: 2.0s; 
    }
}


#about_text.main_section h2  { opacity: 0; }
#about_text.main_section.animated h2  {-webkit-animation-delay: 0.5s; animation-delay: 0.5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
#about_text.main_section .text  { opacity: 0; }
#about_text.main_section.animated .text  {-webkit-animation-delay: 0.8s; animation-delay: 0.8s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
#about_text.main_section .text::before  { opacity: 0; @include transition_slow(all); transition-delay: 1.8s; }
#about_text.main_section.animated .text::before  {opacity: 0.12;  }


#production.hidden  .services .item { opacity: 0; }
#production.animated .services .item {
    -webkit-animation-duration: .5s; 
    animation-duration: .5s;
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp;
    &:nth-child(1) {
        -webkit-animation-delay: 0.1s; animation-delay: 0.1s; 
    }
    &:nth-child(2) {
        -webkit-animation-delay: 0.3s; animation-delay: 0.3s; 
    }
    &:nth-child(3) {
        -webkit-animation-delay: 0.5s; animation-delay: 0.5s; 
    }
    &:nth-child(4) {
        -webkit-animation-delay: 0.7s; animation-delay: 0.7s; 
    }
    &:nth-child(5) {
        -webkit-animation-delay: 0.9s; animation-delay: 0.9s; 
    }
    &:nth-child(6) {
        -webkit-animation-delay: 1.1s; animation-delay: 1.1s; 
    }
    &:nth-child(7) {
        -webkit-animation-delay: 1.3s; animation-delay: 1.3s; 
    }
    &:nth-child(8) {
        -webkit-animation-delay: 1.5s; animation-delay: 1.5s; 
    }
    &:nth-child(9) {
        -webkit-animation-delay: 1.7s; animation-delay: 1.7s; 
    }
}

#advantages_container.hidden .content_advantages .item { opacity: 0; }
#advantages_container.animated .content_advantages .item {
    -webkit-animation-duration: .5s; 
    animation-duration: .5s;
    -webkit-animation-name: zoomIn; 
    animation-name: zoomIn;
    &:nth-child(4) {
        -webkit-animation-delay: 0.1s; animation-delay: 0.1s; 
    }
    &:nth-child(5) {
        -webkit-animation-delay: 0.3s; animation-delay: 0.3s; 
    }
    &:nth-child(6) {
        -webkit-animation-delay: 0.5s; animation-delay: 0.5s; 
    }
    &:nth-child(7) {
        -webkit-animation-delay: 0.7s; animation-delay: 0.7s; 
    }
    &:nth-child(8) {
        -webkit-animation-delay: 0.9s; animation-delay: 0.9s; 
    }
    &:nth-child(9) {
        -webkit-animation-delay: 1.1s; animation-delay: 1.1s; 
    }
    &:nth-child(10) {
        -webkit-animation-delay: 1.3s; animation-delay: 1.3s; 
    }
    &:nth-child(11) {
        -webkit-animation-delay: 1.5s; animation-delay: 1.5s; 
    }
    &:nth-child(12) {
        -webkit-animation-delay: 1.7s; animation-delay: 1.7s; 
    }
}

#achievement.main_section h2  { opacity: 0; }
#achievement.main_section.animated h2  {-webkit-animation-delay: 0.5s; animation-delay: 0.5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
#achievement.main_section .video  { opacity: 0; }
#achievement.main_section.animated .video  {-webkit-animation-delay: 0.8s; animation-delay: 0.8s; -webkit-animation-name: zoomIn; animation-name: zoomIn; }
#achievement.main_section .text  { opacity: 0; }
#achievement.main_section.animated .text  {-webkit-animation-delay: 1.1s; animation-delay: 1.1s; -webkit-animation-name: fadeIn; animation-name: fadeIn;  }
#achievement .certificates_slider .item { opacity: 0; }
#achievement.animated .certificates_slider .item { 
    -webkit-animation-duration: .5s; 
    animation-duration: .5s;
    -webkit-animation-name: zoomIn; 
    animation-name: zoomIn;
    &:nth-child(1) {
        -webkit-animation-delay: 1.1s; animation-delay: 1.1s; 
    }
    &:nth-child(2) {
        -webkit-animation-delay: 1.3s; animation-delay: 1.3s; 
    }
    &:nth-child(3) {
        -webkit-animation-delay: 1.5s; animation-delay: 1.5s; 
    }
    &:nth-child(4) {
        -webkit-animation-delay: 1.7s; animation-delay: 1.7s; 
    }
    &:nth-child(5) {
        -webkit-animation-delay: 1.9s; animation-delay: 1.9s; 
    }
    &:nth-child(6) {
        -webkit-animation-delay: 2.1s; animation-delay: 2.1s; 
    }
    &:nth-child(7) {
        -webkit-animation-delay: 2.3s; animation-delay: 2.3s; 
    }
    &:nth-child(8) {
        -webkit-animation-delay: 2.5s; animation-delay: 2.5s; 
    }
    &:nth-child(9) {
        -webkit-animation-delay: 2.7s; animation-delay: 2.7s; 
    }
}

#directions.hidden  .directions .item { opacity: 0; }
#directions.animated .directions .item {
    -webkit-animation-duration: .5s; 
    animation-duration: .5s;
    -webkit-animation-name: zoomIn; 
    animation-name: zoomIn;
    &:nth-child(4) {
        -webkit-animation-delay: 0.1s; animation-delay: 0.1s; 
    }
    &:nth-child(5) {
        -webkit-animation-delay: 0.3s; animation-delay: 0.3s; 
    }
    &:nth-child(6) {
        -webkit-animation-delay: 0.5s; animation-delay: 0.5s; 
    }
    &:nth-child(7) {
        -webkit-animation-delay: 0.7s; animation-delay: 0.7s; 
    }
    &:nth-child(8) {
        -webkit-animation-delay: 0.9s; animation-delay: 0.9s; 
    }
    &:nth-child(9) {
        -webkit-animation-delay: 1.1s; animation-delay: 1.1s; 
    }
    &:nth-child(10) {
        -webkit-animation-delay: 1.3s; animation-delay: 1.3s; 
    }
    &:nth-child(11) {
        -webkit-animation-delay: 1.5s; animation-delay: 1.5s; 
    }
    &:nth-child(12) {
        -webkit-animation-delay: 1.7s; animation-delay: 1.7s; 
    }
}
  
#production .production .item { opacity: 0; }
#production.animated  .production .item { 
    -webkit-animation-duration: .5s; 
    animation-duration: .5s;
    -webkit-animation-name: zoomIn; 
    animation-name: zoomIn;
    &:nth-child(1) {
        -webkit-animation-delay: 0.1s; animation-delay: 0.1s; 
    }
    &:nth-child(2) {
        -webkit-animation-delay: 0.3s; animation-delay: 0.3s; 
    }
    &:nth-child(3) {
        -webkit-animation-delay: 0.5s; animation-delay: 0.5s; 
    }
    &:nth-child(4) {
        -webkit-animation-delay: 0.7s; animation-delay: 0.7s; 
    }
    &:nth-child(5) {
        -webkit-animation-delay: 0.9s; animation-delay: 0.9s; 
    }
    &:nth-child(6) {
        -webkit-animation-delay: 1.1s; animation-delay: 1.1s; 
    }
    &:nth-child(7) {
        -webkit-animation-delay: 1.3s; animation-delay: 1.3s; 
    }
    &:nth-child(8) {
        -webkit-animation-delay: 1.5s; animation-delay: 1.5s; 
    }
    &:nth-child(9) {
        -webkit-animation-delay: 1.7s; animation-delay: 1.7s; 
    }
}
  
#advantages .our_work_slider .step { opacity: 0; }
#advantages.animated  .our_work_slider .step { 
    -webkit-animation-duration: .5s; 
    animation-duration: .5s;
    -webkit-animation-name: zoomIn; 
    animation-name: zoomIn;
    &:nth-child(1) {
        -webkit-animation-delay: 0.1s; animation-delay: 0.1s; 
    }
    &:nth-child(2) {
        -webkit-animation-delay: 0.3s; animation-delay: 0.3s; 
    }
    &:nth-child(3) {
        -webkit-animation-delay: 0.5s; animation-delay: 0.5s; 
    }
    &:nth-child(4) {
        -webkit-animation-delay: 0.7s; animation-delay: 0.7s; 
    }
    &:nth-child(5) {
        -webkit-animation-delay: 0.9s; animation-delay: 0.9s; 
    }
    &:nth-child(6) {
        -webkit-animation-delay: 1.1s; animation-delay: 1.1s; 
    }
    &:nth-child(7) {
        -webkit-animation-delay: 1.3s; animation-delay: 1.3s; 
    }
    &:nth-child(8) {
        -webkit-animation-delay: 1.5s; animation-delay: 1.5s; 
    }
    &:nth-child(9) {
        -webkit-animation-delay: 1.7s; animation-delay: 1.7s; 
    }
}


#partners .partners_slider .logo_item  { opacity: 0; }
#partners.animated  .partners_slider .logo_item  { 
    -webkit-animation-duration: .5s; 
    animation-duration: .5s;
    -webkit-animation-name: zoomIn; 
    animation-name: zoomIn;
    &:nth-child(4) {
        -webkit-animation-delay: 0.1s; animation-delay: 0.1s; 
    }
    &:nth-child(5) {
        -webkit-animation-delay: 0.3s; animation-delay: 0.3s; 
    }
    &:nth-child(6) {
        -webkit-animation-delay: 0.5s; animation-delay: 0.5s; 
    }
    &:nth-child(7) {
        -webkit-animation-delay: 0.7s; animation-delay: 0.7s; 
    }
    &:nth-child(8) {
        -webkit-animation-delay: 0.9s; animation-delay: 0.9s; 
    }
    &:nth-child(9) {
        -webkit-animation-delay: 1.1s; animation-delay: 1.1s; 
    }
    &:nth-child(10) {
        -webkit-animation-delay: 1.3s; animation-delay: 1.3s; 
    }
    &:nth-child(11) {
        -webkit-animation-delay: 1.5s; animation-delay: 1.5s; 
    }
    &:nth-child(12) {
        -webkit-animation-delay: 1.7s; animation-delay: 1.7s; 
    }
}

#news .news_block .news_item { opacity: 0; }
#news.animated  .news_block .news_item { 
    -webkit-animation-duration: .5s; 
    animation-duration: .5s;
    -webkit-animation-name: zoomIn; 
    animation-name: zoomIn;
    &:nth-child(1) {
        -webkit-animation-delay: 0.1s; animation-delay: 0.1s; 
    }
    &:nth-child(2) {
        -webkit-animation-delay: 0.3s; animation-delay: 0.3s; 
    }
    &:nth-child(3) {
        -webkit-animation-delay: 0.5s; animation-delay: 0.5s; 
    }
    &:nth-child(4) {
        -webkit-animation-delay: 0.7s; animation-delay: 0.7s; 
    }
    &:nth-child(5) {
        -webkit-animation-delay: 0.9s; animation-delay: 0.9s; 
    }
    &:nth-child(6) {
        -webkit-animation-delay: 1.1s; animation-delay: 1.1s; 
    }
    &:nth-child(7) {
        -webkit-animation-delay: 1.3s; animation-delay: 1.3s; 
    }
    &:nth-child(8) {
        -webkit-animation-delay: 1.5s; animation-delay: 1.5s; 
    }
    &:nth-child(9) {
        -webkit-animation-delay: 1.7s; animation-delay: 1.7s; 
    }
}

#technology.main_section h2  { opacity: 0; }
#technology.main_section.animated h2  {-webkit-animation-delay: 0.1s; animation-delay: 0.1s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

#technology.main_section h2+p  { opacity: 0; }
#technology.main_section.animated h2+p  {-webkit-animation-delay: 0.4s; animation-delay: 0.4s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
#technology.main_section .number_slider { opacity: 0; }
#technology.main_section.animated .number_slider  {-webkit-animation-delay: 0.8s; animation-delay: 0.8s; -webkit-animation-name: zoomIn; animation-name: zoomIn; }
#technology.main_section .info_slider { opacity: 0; }
#technology.main_section.animated .info_slider  {-webkit-animation-delay: 1.1s; animation-delay: 1.1s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft;  }


#main_form.main_section .uFormLine { opacity: 0; }
#main_form.main_section .uFormLine:nth-child(1) { -webkit-animation-delay: 0.3s;  animation-delay: 0.3s; }
#main_form.main_section .uFormLine:nth-child(2) { -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; }
#main_form.main_section .uFormLine:nth-child(3) { -webkit-animation-delay: 0.7s;  animation-delay: 0.7s; }
#main_form.main_section .uFormLine:nth-child(4) { -webkit-animation-delay: 0.9s;  animation-delay: 0.9s; }
#main_form.main_section.animated .uFormLine {  -webkit-animation-name: zoomIn; animation-name: zoomIn; }
#main_form.main_section .feedback-form-bot { opacity: 0; -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
#main_form.main_section.animated .feedback-form-bot {  -webkit-animation-name: zoomIn; animation-name: zoomIn; }
#main_form.main_section .uFormButton { opacity: 0; -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; }
#main_form.main_section.animated .uFormButton {  -webkit-animation-name: zoomIn; animation-name: zoomIn; }
  

  /* end animate styles */